<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <select name="country">
            <option value="Estonia">Estonia</option>
            <option value="Latvia">Latvia</option>
            <option value="Lithuania">Lithuania</option>
        </select>
        <button type="submit">Vali</button>
        </form>

        <% for (let i=0; i<data.lenght;i++){%>
            <table>
                <tr>
                    <td><%= data.name%></td>
                </tr>

            </table>
        <%}%>
</html>